html, body, div, input, button {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

:root {
    --SHADOW: 3px 3px 5px black;
}

body {
    background-color: #ff7f50;
}

#container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-shadow: var(--SHADOW);
    color: #C8F36D;
}

#input {
    width: 75%;
    height: 25px;
    box-shadow: var(--SHADOW);
    border: 1px solid black;
    border-radius: 5px;
    text-align: start;
    padding-left: 5px;
    margin-bottom: 10px;
}

#findButton {
    width: 50%;
    height: 25px;
    margin-bottom: 10px;
    box-shadow: var(--SHADOW);
    color: white;
    border: none;
    border-radius: 5px;
    background: linear-gradient(rgb(40, 78, 158, 0.8), rgb(40, 78, 158, 0.5));
    cursor: pointer;
}

.container__anagrams span {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.3rem;
    text-shadow: var(--SHADOW);
}

#findButton:active {
    box-shadow: 1px 1px 2px black;
    background: linear-gradient(rgb(40, 78, 158, 0.5), rgb(40, 78, 158, 0.8));
}

@media screen and (min-width: 800px) {
    #container {
        display: block;
        text-align: start;
        padding-left: 15px;
    }
    #input {
        display: block;
        width: 50%;
        height: 30px;
        font-size: 1.3rem;
    }
    #findButton {
        width: 25%;
        height: 50px;
        font-size: 1.4rem;
        color: white;
        border: none;
        border-radius: 5px;
        background: linear-gradient(rgb(40, 78, 158, 0.8), rgb(40, 78, 158, 0.5));
        cursor: pointer;
    }
    h1 {
        font-size: 2.5rem;
    }
    .container__anagrams {
        text-align: start;
    }
    .container__anagrams span {
        font-size: 2rem;
    }
}